.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;

  h2,
  h4,
  h5 {
    color: #bbb;
    text-align: center;
    margin: 0 0 30px;
  }
}

.form {
  width: 100%;
}

.button {
  width: 100%;
  margin-bottom: 20px;
}

.wrapper {
  position: relative;
}

.eye {
  position: absolute;
  right: 0;
  top: 10%;
  transform: translate(-50%);
  cursor: pointer;
  background-image: url("../../assets/img/eye.svg");
  width: 19px;
  height: 19px;
}
