.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 60px;
  align-items: center;
  position: relative;
  margin-right: 20px;
}

.acronym {
  position: absolute;
  right: -10px;
  top: -10px;
  color: white;
  padding: 8px;
  background: linear-gradient(135deg, #c34fa4 50%, #f8595e);
  border-radius: 50%;
  font-weight: 500;
}

.title {
  color: #fff;
  margin-top: 10px;
  max-width: 200px;
  text-align: center;
}

.imgWrapper {
  width: 230px;
  height: 360px;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 6px 8px 16px rgba(0, 0, 0, 0.25);
}