.btn {
  min-height: 32px;
  padding: 0 32px;
  border-radius: 16px;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  background: linear-gradient(135deg, #f50 69.91%, #d6bb00);
  cursor: pointer;
}