.hero {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  z-index: 10;
}

.popupWrapper {
  position: relative;
  padding: 40px;
  background-color: #000033;
  border-radius: 20px;

  .cross {
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 14px;
    color: #909090;
    height: 20px;
    width: 20px;
  }
}